{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer_main">
            <div class="footer_top">
                <div class="footer_top_left">
                    <img src="{% static 'img/footer_logo.svg' %}" alt="" class="img-left">
                </div>
                <div class="fot_mob">
                    <p class="fotmail_mob">info@thewebzter.com</p>
                    <p class="footer_copyright_mob">Company name,123 place, City, Country, Post code</p>
                </div>
                <div class="footer_top_right">
                    <div class="link_div">
                        <a href="" class="footer_link">Store</a>
                        <a href="" class="footer_link">Expert Advice</a>
                    </div>
                    <div class="link_div">
                        <a href="" class="footer_link">About Us</a>
                        <a href="" class="footer_link">Login / Register</a>
                    </div>
                    <div class="link_div">
                        <a href="" class="footer_link">Contact Us</a>
                        <a href="" class="footer_link">Terms & Conditions</a>
                    </div>
                    <div class="link_div">
                        <a href="" class="footer_link">Privacy Policy</a>
                        <a href="" class="footer_link">Cookie Policy</a>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="footer_bottom_up">
                    <p class="fotmail">info@thewebzter.com</p>
                    <img src="{% static 'img/mastercard.png' %}" alt="" class="img-fluid">
                    <p class="footer_copyright_mob">© 2023 The Webzter . All rights reserved.</p>
                </div>
                <div class="footer_bottom_down">
                    <p class="footer_copyright">Company name,123 place, City, Country, Post code</p>
                    <p class="footer_copyright">© 2023 The Webzter . All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>