{% extends 'main.html' %}
{% load static %}

{% block content %}

<section>
    <div class="aboutus_sec1">
        <div class="container">
            <div class="pos_rela_about">
                <div class="hs1_frame2">
                    <h1 class="hs1_title">About us</h1>
                    <p class="hs1_subtitle">
                        If you are under a time restraint and you need to learn tricky topic quickly, one-to-one lessons with one of our experts might be a helpful solution. We offer bespoke tutorials with experienced tutors that will devote their time to ensuring that you fully grasp the course material.
                    </p>
                    <button class="btn btn_global_white_sec">
                        Contact Us
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M5.5 12.5H19.5M19.5 12.5L12.5 5.5M19.5 12.5L12.5 19.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div class="hs1_scroller_div">
                    <img src="{% static 'img/scroll_object.svg' %}" alt="" class="img-fluid">
                    <p class="scroll_down_text">Scroll Down</p>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutus_sec2">
        <div class="container">
            <div class="hs3_frame_au">

                <div class="hs3_left">
                    <p class="hs3_title_aboutus">Our Benefits</p>
                    <p class="hs3_subtitle_aboutus">
                        Lorem ipsum dolor sit amet consectetur. Vitae libero quis duis ultrices. Ipsum fringilla semper lacinia non elementum nunc ipsum. Ac elementum odio odio risus phasellus. Penatibus viverra pharetra ultrices phasellus porttitor nunc. Diam ullamcorper vitae eu nisl nisl tortor gravida nisl. Feugiat nullam vitae felis felis tristique suspendisse in euismod. Enim purus fringilla leo varius id pretium. Arcu.
                    </p>
                    <button class="btn btn_global_black">
                        Explore Products
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                            <path d="M5.5 12H19.5M19.5 12L12.5 5M19.5 12L12.5 19" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="hs3_right">
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i1.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title_aboutus">Hundreds Of Online Courses</p>
                            <p class="hs3_right_card_subtitle_aboutus">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i2.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title_aboutus">100% Satisfaction Guaranteed</p>
                            <p class="hs3_right_card_subtitle_aboutus">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i3.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title_aboutus">Secure And Easy Payments</p>
                            <p class="hs3_right_card_subtitle_aboutus">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i4.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title_aboutus">Expert Advice, Just A Click</p>
                            <p class="hs3_right_card_subtitle_aboutus">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="aboutus_sec3">
        <div class="in_sec3_au">
                <h1 class="sec2au_tt">Why Choose us?</h1>
                <div class="hs3_frame_au3">

                    <div class="hs3_left3">
                        <div class="sec3_para">
                            <p class="left_sec3_tt">The courses contained on this site are intended to be taught from beginning to end; a process that will take you from novice to mastery.<br><br>
                            **However, our plethora of video clips, written guides, practice questions and solutions, even audiobooks, can either be used to enrich your learning as you follow the course, or simply enjoyed as a one-off to complement your academic or independent studies. Our relationship with our customers is extremely important to us. As a result, we felt that the addition of the consultancy service would help customers to feel supported and reassured assistance is only a phone call away. Our ultimate aim is for our clients to use our site for all of their web programming needs, and we are current expanding our catalogue to include learning material for coding languages.</p>
                        </div>
                    </div>
                    <div class="hs3_right3">
                        <h1 class="right_sec3_tt">Our products and services are suitable for:</h1>

                        <div class="points_point">
                            <img src="{% static 'img/pointer_icon.svg' %}" alt="" class="img-fluid">
                            <p class="left_sec3_tt">Individuals that have an innate interest in coding and are driven to learn HTML out of personal interest.</p>
                        </div>
                        <div class="points_point">
                            <img src="{% static 'img/pointer_icon.svg' %}" alt="" class="img-fluid">
                            <p class="left_sec3_tt">Business owners that would like to expand their skills or the skills possessed by their employees to reduce outsourcing web development projects.</p>    
                        </div>
                        <div class="points_point">
                            <img src="{% static 'img/pointer_icon.svg' %}" alt="" class="img-fluid">
                            <p class="left_sec3_tt">Website owners seeking to grow their skills in order to improve the quality of their current websites</p>                                    
                        </div>
                        <div class="points_point">
                            <img src="{% static 'img/pointer_icon.svg' %}" alt="" class="img-fluid">
                            <p class="left_sec3_tt">Those that need help and support from one of our experts for specific development projects</p>                                  
                        </div>

                    </div>
                </div>
        </div>

    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}