{% extends 'main.html' %}
{% load static %}

{% block content %}

<section class="home_page">
    <div class="hs1">
        <div class="container">
            <div class="pos_rela">
                <div class="hs1_frame">
                    <h1 class="hs1_title">Coding Solutions For The Sophisticated</h1>
                    <p class="hs1_subtitle">
                        Lorem ipsum dolor sit amet consectetur. Convallis netus quis enim cursus est et. Sit tempor ornare massa id mollis. Eget aliquet vitae nunc congue id felis. Neque in tincidunt morbi.
                    </p>
                </div>

                <div class="hs1_scroller_div">
                    <img src="{% static 'img/scroll_object.svg' %}" alt="" class="img-fluid">
                    <p class="scroll_down_text">Scroll Down</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hs2">
        <div class="container">
            <div class="hs2_top">
                <h1 class="hs2_title">Explore Best Sellers</h1>
                <button class="btn btn_global_trans">
                    View All Products
                </button>
            </div>
            <div class="hs2_bottom">
                <div class="hs2_card_back">
                    <div class="hs2_card_front">
                        <div class="hs2_card_image_div">
                            <img src="{% static 'img/card_prod_img.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="hs2_card_body">
                            <p class="card_prod_type">Video</p>
                            <p class="card_prod_title">Learn Graphic UI</p>
                            <p class="card_prod_subtitle">Praesent commod curs magna, vel sceleri sque nisl.</p>
                            <div class="hs2_card_body_footer">
                                <p class="card_prod_total">$50.00</p>
                                <img src="{% static 'img/card_prod_btn.svg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hs2_card_back">
                    <div class="hs2_card_front">
                        <div class="hs2_card_image_div">
                            <img src="{% static 'img/card_prod_img.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="hs2_card_body">
                            <p class="card_prod_type">Video</p>
                            <p class="card_prod_title">Learn Graphic UI</p>
                            <p class="card_prod_subtitle">Praesent commod curs magna, vel sceleri sque nisl.</p>
                            <div class="hs2_card_body_footer">
                                <p class="card_prod_total">$50.00</p>
                                <img src="{% static 'img/card_prod_btn.svg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hs2_card_back">
                    <div class="hs2_card_front">
                        <div class="hs2_card_image_div">
                            <img src="{% static 'img/card_prod_img.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="hs2_card_body">
                            <p class="card_prod_type">Video</p>
                            <p class="card_prod_title">Learn Graphic UI</p>
                            <p class="card_prod_subtitle">Praesent commod curs magna, vel sceleri sque nisl.</p>
                            <div class="hs2_card_body_footer">
                                <p class="card_prod_total">$50.00</p>
                                <img src="{% static 'img/card_prod_btn.svg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hs2_card_back">
                    <div class="hs2_card_front">
                        <div class="hs2_card_image_div">
                            <img src="{% static 'img/card_prod_img.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="hs2_card_body">
                            <p class="card_prod_type">Video</p>
                            <p class="card_prod_title">Learn Graphic UI</p>
                            <p class="card_prod_subtitle">Praesent commod curs magna, vel sceleri sque nisl.</p>
                            <div class="hs2_card_body_footer">
                                <p class="card_prod_total">$50.00</p>
                                <img src="{% static 'img/card_prod_btn.svg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hs3">
        <div class="container">
            <div class="hs3_frame">
                <div class="hs3_left">
                    <p class="hs3_title">Our Benefits</p>
                    <p class="hs3_subtitle">
                        Lorem ipsum dolor sit amet consectetur. Vitae libero quis duis ultrices. Ipsum fringilla semper lacinia non elementum nunc ipsum. Ac elementum odio odio risus phasellus. Penatibus viverra pharetra ultrices phasellus porttitor nunc. Diam ullamcorper vitae eu nisl nisl tortor gravida nisl. Feugiat nullam vitae felis felis tristique suspendisse in euismod. Enim purus fringilla leo varius id pretium. Arcu.
                    </p>
                    <button class="btn btn_global_white">
                        Explore Products
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M5.5 12.5H19.5M19.5 12.5L12.5 5.5M19.5 12.5L12.5 19.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div class="hs3_right">
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i1.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title">Hundreds Of Online Courses</p>
                            <p class="hs3_right_card_subtitle">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i2.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title">100% Satisfaction Guaranteed</p>
                            <p class="hs3_right_card_subtitle">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i3.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title">Secure And Easy Payments</p>
                            <p class="hs3_right_card_subtitle">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                    <div class="hs3_right_card">
                        <img src="{% static 'img/hs3_i4.svg' %}" alt="" class="img-fluid">
                        <div class="">
                            <p class="hs3_right_card_title">Expert Advice, Just A Click</p>
                            <p class="hs3_right_card_subtitle">Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hs4">
        <div class="hs4_frame">
            <div class="hs4_left">
                <div class="hs4_content ms-auto">
                    <h1 class="hs4_title">Expert Advice For You!</h1>
                    <p class="hs4_subtitle">
                        Lorem ipsum dolor sit amet consectetur. Tincidunt nulla feugiat faucibus libero tincidunt lorem amet. Ipsum a tincidunt sit enim ultrices. Molestie porttitor scelerisque convallis aliquam consequat volutpat. Blandit curabitur id in magna dolor amet. A faucibus interdum fringilla non eleifend accumsan.
                    </p>
                    <button class="btn btn_global_black">
                        Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M5.5 12.5H19.5M19.5 12.5L12.5 5.5M19.5 12.5L12.5 19.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="hs4_right">
                <div class="hs4_content">
                    <h1 class="hs4_title">Expert Advice For You!</h1>
                    <p class="hs4_subtitle">
                        Lorem ipsum dolor sit amet consectetur. Tincidunt nulla feugiat faucibus libero tincidunt lorem amet. Ipsum a tincidunt sit enim ultrices. Molestie porttitor scelerisque convallis aliquam consequat volutpat. Blandit curabitur id in magna dolor amet. A faucibus interdum fringilla non eleifend accumsan.
                    </p>
                    <button class="btn btn_global_black">
                        Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M5.5 12.5H19.5M19.5 12.5L12.5 5.5M19.5 12.5L12.5 19.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="hs5">
        <div class="container">
            <div class="hs5_frame">
                <h1 class="hs5_title">Get In Touch Today</h1>
                <p class="hs5_subtitle">
                    Lorem ipsum dolor sit amet consectetur. Vitae libero quis duis ultrices. Ipsum fringilla semper lacinia non elementum nunc ipsum. Ac elementum odio odio risus phasellus. Penatibus viverra pharetra ultrices phasellus porttitor nunc. Diam ullamcorper vitae eu nisl nisl tortor gravida nisl. Feugiat nullam vitae felis felis tristique suspendisse in euismod. Enim purus fringilla leo varius id.
                </p>
                <button class="btn btn_global_white mx-auto">
                    Contact Us
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path d="M5.5 12.5H19.5M19.5 12.5L12.5 5.5M19.5 12.5L12.5 19.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}